$primary-color: #efb54a;
$primary-dark: #b98616;
$primary-light: #ffe77a;
$syrup-color: rgb(238, 173, 130);
$coffee-color: rgba(149, 64, 30, 0.589);
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;

// Set text color based on background

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}
// Set background & text color

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
